{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/opcao.css' %}" />

  <title>Inicio</title>
</head>

<body>
  {% include 'menu.html' %}

  <br><br><br>

	<center><h1>EU SOU...</h1></center>

	  <div id="sou">
		<a href="{% url 'index_medico' %}">
		  <button  class="button button2">medico</button>
		</a>
		  <a href="{% url 'index_medico' %}">
		  <button class="button button2">paciente</button>
		  </a>

	  </div>

{%  bootstrap_css %}
{%  bootstrap_javascript %}
</body>

</html>